PORT=5000
DATABASE_URL=postgresql://postgres:<your password>@localhost:5432/<your db> #note - this is only for local db usage
JWT_REFRESH_SECRET= your generated key
JWT_ACCESS_SECRET= your generated key